# Unity YAML
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.meta text eol=lf
*.anim text eol=lf
*.controller text eol=lf
*.mat text eol=lf
*.cs text eol=lf

# Binary
*.png binary
*.jpg binary
*.jpeg binary
*.psd binary
*.ttf binary
*.otf binary
*.wav binary
*.mp3 binary
*.fbx binary
